<form class="container-fluid" [formGroup]="formulario">
    <div class="card mt-3">

        <div class="card-header">
            <div class="float-left">
                <h5>Novo usuário</h5>
            </div>
            <div class="float-right">
                <button class="btn" (click)="onBack()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-reply-fill" viewBox="0 0 16 16">
                        <path
                            d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <div class="col-3">
                    <label for="idexterno" class="form-label">Código *</label>
                    <input name="idexterno" formControlName="idexterno" type="text" class="form-control" id="idexterno"
                        placeholder="Código do usuário" required [ngClass]="aplicaCssErro('idexterno')">
                    <app-error-msg [control]="formulario.get('idexterno')" label="Código"></app-error-msg>
                </div>
                <div class="col">
                    <label for="nome" class="form-label">Nome *</label>
                    <input name="nome" formControlName="nome" type="text" class="form-control" id="nome"
                        placeholder="Nome" required [ngClass]="aplicaCssErro('nome')">
                    <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="user" class="form-label">Usuário *</label>
                    <input name="user" formControlName="user" type="text" class="form-control" id="user"
                        placeholder="Usuário para login" required [ngClass]="aplicaCssErro('user')">
                    <app-error-msg [control]="formulario.get('user')" label="Usuário"></app-error-msg>
                </div>
                <div class="col">
                    <label for="password" class="form-label">Senha *</label>
                    <input name="password" formControlName="password" type="password" class="form-control" id="password"
                        placeholder="Senha" required [ngClass]="aplicaCssErro('password')">
                    <app-error-msg [control]="formulario.get('password')" label="Senha"></app-error-msg>
                </div>
                <div class="col">
                    <label for="confirmaPassword" class="form-label">Confirma Senha *</label>
                    <input name="confirmaPassword" formControlName="confirmaPassword" type="password"
                        class="form-control" id="confirmaPassword" placeholder="Corfirme sua senha" required
                        [ngClass]="aplicaCssErro('confirmaPassword')">
                    <app-error-msg [control]="formulario.get('confirmaPassword')" label="Confirmar senha">
                    </app-error-msg>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="submit()">
                Salvar
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save"
                    viewBox="0 0 16 16">
                    <path
                        d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                </svg>
            </button>

            <button *ngIf="this.formulario.value.idusuario == null" class="btn float-right" (click)="onClear()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="Red" class="bi bi-eraser-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z" />
                </svg>
                limpar
            </button>
        </div>
    </div>
</form>