<form class="container-fluid" [formGroup]="formulario">
    <div class="card mt-3 mb-3">

        <div class="card-header">
            <div class="float-left">
                <h5>Categorias</h5>
            </div>

            <div class="float-right">
                <button class="btn" (click)="onBack()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-reply-fill" viewBox="0 0 16 16">
                        <path
                            d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <div class="col-4">
                    <label for="idexterno" class="form-label">Código *</label>
                    <input name="idexterno" formControlName="idexterno" type="text" class="form-control" id="idexterno"
                        placeholder="Código" required [ngClass]="aplicaCssErro('idexterno')">
                    <app-error-msg [control]="formulario.get('idexterno')" label="Código"></app-error-msg>
                </div>

                <div class="col">
                    <label for="nome" class="form-label">Nome *</label>
                    <input type="text" name="nome" formControlName="nome" class="form-control" id="nome"
                        placeholder="Nome" required [ngClass]="aplicaCssErro('nome')">
                    <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="nomecompleto" class="form-label">Nome Completo *</label>
                    <input type="text" name="nomecompleto" formControlName="nomecompleto" class="form-control"
                        id="nomecompleto" placeholder="Nome Completo" required
                        [ngClass]="aplicaCssErro('nomecompleto')">
                    <app-error-msg [control]="formulario.get('nomecompleto')" label="Nome Completo"></app-error-msg>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="submit()">
                Salvar
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save"
                    viewBox="0 0 16 16">
                    <path
                        d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                </svg>
            </button>

            <button *ngIf="this.formulario.value.idcategoria == null" class="btn float-right" (click)="onClear()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="Red" class="bi bi-eraser-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z" />
                </svg>
                Limpar
            </button>
        </div>

        <div class="col" *ngIf="this.formulario.value.idcategoria">
            <hr>
            <div class="col">
                <div class="float-left" *ngIf="this.categoriasFilhas">
                    <h5>Categorias Filhas</h5>
                </div>

                <div class="float-right mb-3">
                    <button type="button" class="btn btn-primary" (click)="openModal(filha)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-folder-plus" viewBox="0 0 16 16">
                            <path
                                d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                            <path
                                d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                        Categoria filha
                    </button>
                </div>
            </div>

            <div class="card-body" *ngIf="this.categoriasFilhas; else loading">
                <table class="table table-hover" *ngIf="this.categoriasFilhas">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Nome Completo</th>
                            <th>
                                <span class="float-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                    Editar

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                    Remover
                                </span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let categoriaFilha of this.categoriasFilhas.values">
                            <td class="pointer" (click)="onEditFilha(categoriaFilha)">{{ categoriaFilha.idexterno }}</td>
                            <td class="pointer" (click)="onEditFilha(categoriaFilha)">{{ categoriaFilha.nome }}</td>
                            <td class="pointer" (click)="onEditFilha(categoriaFilha)">{{ categoriaFilha.nomecompleto }}</td>
                            <td>
                                <span class="float-right">
                                    <button class="btn" (click)="onEditFilha(categoriaFilha)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange"
                                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </button>

                                    <button class="btn" (click)="onDeleteFilha(categoriaFilha)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                            class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<ng-template #filha>
    <app-categoria-filha (inserirFilha)="incluirFilha($event)"></app-categoria-filha>
</ng-template>

<ng-template class="float-center" #loading>
    <div *ngIf="!this.categoriasFilhas" class="spinner-border" role="status">
        <span class="sr-only">Carregando...</span>
    </div>
</ng-template>