<form class="container-sm" [formGroup]="formulario">
    <div class="card mt-3">

        <div class="card-header">
            <div class="float-left">
                <h5>Categorias</h5>
            </div>

            <div class="float-right">
                <button class="btn" (click)="onBack()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-reply-fill" viewBox="0 0 16 16">
                        <path
                            d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <div class="col-3">
                    <label for="idexterno" class="form-label">Código *</label>
                    <input name="idexterno" formControlName="idexterno" type="text" class="form-control" id="idexterno"
                        placeholder="Registro do paciente" required [ngClass]="aplicaCssErro('idexterno')">
                    <app-error-msg [control]="formulario.get('idexterno')" label="Código"></app-error-msg>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="nome" class="form-label">Nome *</label>
                    <input type="text" name="nome" formControlName="nome" class="form-control" id="nome"
                        placeholder="Nome" required [ngClass]="aplicaCssErro('nome')">
                    <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
                </div>

                <div class="col">
                    <label for="nomecompleto" class="form-label">Nome Completo *</label>
                    <input type="text" name="nomecompleto" formControlName="nomecompleto" class="form-control"
                        id="nomecompleto" placeholder="Nome Completo" required
                        [ngClass]="aplicaCssErro('nomecompleto')">
                    <app-error-msg [control]="formulario.get('nomecompleto')" label="Nome Completo"></app-error-msg>
                </div>
            </div>
        </div>
    </div>
</form>