.menu-vertical {
  position: fixed;
  left: auto;
  right: 0px;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
