<form class="container-sm" (ngSubmit)="fazerLogin()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login ExamRegister</h5>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="usuario" class="form-label">Usuário</label>
          <input name="usuario" [(ngModel)]="usuario.user" type="text" class="form-control" id="usuario"
            placeholder="Nome de usuário">
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input name="senha" [(ngModel)]="usuario.password" type="password" class="form-control" id="senha"
            placeholder="Senha">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Entrar</button>
      </div>
    </div>
  </div>
</form>